<div class="col-md-3" th:fragment="sideBarNav">
    <div class="list-group" >
       <a href="/" class="list-group-item"><span class="glyphicon glyphicon-home"></span> Home</a>
        <a href="/aboutSystem" class="list-group-item"><span class="glyphicon glyphicon-info-sign"></span> About This Software</a>
    </div>

</div>