<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

  <title>About | Short URL</title>
</head>
<body>

<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>
          <small>About This System</small>
        </h1>
      </div>
    </div>
  </div>
</header>
<br/>


<section id="main">
  <div class="container">
    <div class="row">
      <div th:replace="fragments/sideBarNav :: sideBarNav"></div>

      <div class="col-md-9">

        <div class="container-fluid">
          <h1>About this project</h1>

          <div class="row">
            <div class="alert alert-info">
              <p>
                Good day,
              </p>
              <br/>
              On this page you will have a brief overview of technologies used here! <br/>

              Alright! Let's kick off with some of the basic concepts that brought this App
              together!

              <h5>Dependency Injection</h5>
              <p>
                Spring Dependency Injection (used with <code>@Autowired</code> annotation) helps you
                inject
                Spring component-objects in your app.
                <br/>
                A Spring component is any class that Spring has been told to 'watch' by giving it an
                annotation. It's a managed bean. Spring by defaults creates singletons
                (<strong>NB:</strong> <code>Design Pattern</code>) when creating
                autowiring
              </p>

              <h5>Inversion of Control</h5>
              <p>
                In short, IoC is a design pattern that allows the calling class to provide
                their own preferred dependency version. That is, you DO NOT hardcode the instance of
                your
                dependency in
                your components. See the following examples of Inversion of Control and absence
                thereof. <br/>

              <h4>No Inversion Of Control</h4>
              <code>

                <br/>
                public class CustomerServiceImpl implements CustomerService {
                <br/>

                private MyDataSource myDS = new MyDataSourceImpl();
                <br/>

                }
                <br/>

              </code>


              Oops! Right there, we are forcing all instances of this class to use this version of
              implementation... Let us fix that by introducing <b>Inversion Of Control below:</b>


              <code>
                <br/>
                ....
                <br/>
                public CustomerServiceImpl(MyDataSource myDs){
                <br/>
                this.myDs = myDs;
                <br/>

                }
                <br/>

              </code>

              Now we are talking! We are no longer constrained or even forced to use a specific
              implementation of DataSource. We pass our own version of implementation when we create
              the instance of this class. We are free! IoC gives us the freedom to go wild. Everyone
              wants some freedom, but with freedom comes a lot of... forget it. You get what I am
              trying to say about IoC <br/>
              <br/>
              In this solution I have used a slightly more advanced way of creating these
              dependencies. I gave the application container the power to create and manage beans on
              my behalf. <i>Spring Web</i> container creates these instances once and injects them
              when needed. See places where I used this <code>@Autowired</code> annotation to tell
              the container to insert the said instances into the class... How it does it is a topic
              for another...

              </p>

              <h5>Back end Communication</h5>
              <p>
                I used <code>@Controller</code> which creates a RESTful API that calls the backend
                for operations.
              </p>

              <hr/>

              <h5>Now let's talk about technologies used</h5>

              <ol>
                <li>Bootstrap 3.7</li>
                <li>Spring Boot Web</li>
                <li>Spring Boot Security</li>
                <li>Spring Boot JPA</li>
                <li>Spring Thymeleaf</li>
                <li>JQuery</li>
                <li>maven</li>
                <li>git</li>
              </ol>


              <p/>
              <h3>
                <bold>Now, let me take you through each of the above technologies</bold>
              </h3>

              <h5>Bootstrap 3.7</h5>
              <p>
                Bootstrap is a CSS framework that makes it easy and convenient to make-up and
                style-up your
                application.<br/>
                Developers get to focus on the meat of the project - building the business logic and
                the
                securities around it - not the cosmetics of the application. Since we started using
                Bootstrap, we stopped spending too much time in the mirror :)
              </p>

              <h5>Spring Boot Web</h5>
              <p>
                JavaEE gives us an API to build web applications. Before SpringBoot-Web, we have to
                manually
                configure the JEE application - defining the web.xml for directives, and going
                through all
                the pain. Now, Spring-Web abstracts that away from the developer to help build
                efficient
                WebApps faster and nicer :)
                <br/>
                Spring MVC is modeled also by this plugin. It helps resolve templates and manage
                business
                session objects (Controller --> Browser --> Controller)
              </p>
              <h5>Spring Boot Security</h5>
              <p>
                It would all be useless to build an application that would be in the public domain
                without
                securing it with the right weapons. Before The Spring guys built this tool, we used
                to write
                web-sessions and managed them manually. Upon successful login , we would create a
                token for
                a
                session, and attach it to the HTTP session, and on each back-end request, we would
                manually
                check in some hashtable if the session existed or was not expired.<br/>
                Now Spring Security gives us a break from all the fault-prone setup. It takes away
                this
                setup
                routine, allowing for a quick application dev - once again!

              </p>

              <h5>Spring Boot JPA</h5>
              <p>See, Spring always makes sure to respect the rules of Java, and just as always,
                they follow
                the
                JRS documents when creating these cool tools. JPA allows us to manage data flow
                between the
                database
                and the business logic.<br/>
                You'd normally find it in what is commonly known as the <i>Data Layer</i> which sits
                between
                the
                business logic and the database. <br/>
                We used to write all SQL/MySQl commands and queries and flying them through the
                JDBC. So,
                some
                generous guys built a tool called <strong>Hibernate</strong>, which was taking away
                the pain
                of
                having to write SQL statements which, you know, most Java Devs would do bad at, and
                making
                sure
                that
                we focus on Java - what we do best.
                <br/>
                Then Spring guys took Hibernate a step further - they wrapped Hibernate (which
                wraps-in JDBC
                by
                the
                way) within their tool (Spring JPA) aka Spring Data. Now Spring Data gives us basic
                CRUD
                operations
                without having to write a single line of code. Furthermore, if you have been a
                good-dev,
                following
                the JavaBeans standard, SpringData allows you to query your objects using
                CamelCasing in
                your
                interface repository method - making sure that you don't live another day to see SQL
                on your
                screen.
                You should be worried if you see yourself having to write queries within the
                SpringData
                framework
                (yes, they allow you to write your own SQL too - that is to give backward
                compatibility for
                stinking-code - how gracious! hahahaha)
              </p>

              <h5>Spring Thymeleaf</h5>
              <p>Thymeleaf is just an enhanced version JSP. Just not as beautiful as Angular - just
                easier to
                use
                compared to JSP and JSF. But it actually
                gives you a front-end display for your business data. This is where we bind business
                fields
                and
                object. It is really just a managed HTML
              </p>

              <h5>JQuery</h5>
              <p>
                Okay, I did not directly use JQuery in this solution. But Bootstrap (our make-up
                artist) uses JQuery to draw and structure the front end of the system based on the
                size of different screens!
              </p>

              <h5>Maven</h5>
              <p>
                This is our build tool. I could have used other built tools like Ant or gradle. I
                chose maven over Ant because Maven manages my dependencies well. And I did not
                choose gradle
                because I have not really played with it before, but I heard it is a better than
                maven. I just don't know much of it as yet!
              </p>
              <h5>Git</h5>
              <p>
                Version Control System. Git - code sharing.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>