<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

  <title>Home | Short URL</title>
</head>
<body>

<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>
          <small>Shorten and Expand URL</small>
        </h1>
      </div>
    </div>
  </div>
</header>
<br/>


<section id="main">
  <div class="container">
    <div class="row">
      <div th:replace="fragments/sideBarNav :: sideBarNav"></div>

      <div class="col-md-9">
        <h1>Welcome to Short URL.</h1>
        <h3 th:if="${param.errorNotFound}" class="alert alert-danger">Your requested link is either broken or invalid!</h3>

        <div class="alert alert-info">
          <small>This is a place where you can shorten URLs and expand them.</small>
        </div>

        <div class="alert alert-success">

          <span>To learn more about this solution, and which technologies I used, please click <strong>About This Software</strong> in the left navigation bar!</span>
        </div>

        <form  th:action="@{/shortenURL}"  th:object="${urlBean}" method="POST">
          <input type="hidden" th:field="*{shortURL}"/>

          <div class="form-group"  th:classappend="${#fields.hasErrors('rawURL')}? 'has-error':''">
            <label for="rawURL" class="control-label">Past/Type URL</label>
            <input id="rawURL" class="form-control" th:field="*{rawURL}"/>
            <p class="error-message"
               th:each="error : ${#fields.errors('rawURL')}"
               th:text="${error}">Validation error</p>
          </div>


          <div class="form-group">
            <button type="submit" class="btn btn-success">Shorten</button>
          </div>
        </form>

        <div th:if="${createdShortUrl != null}" class="alert alert-default alert-info">
          <h3>The following link: <br/> <span th:text="${oldURL}" /> <br/>
            has a length of <span th:text="${oldUrlLength}"/> characters and resulted in the following shortened URL which has a length of <span th:text="${newUrlLength}"/> characters.<br/>

            <a target="_blank" th:href="@{${createdShortUrl}}" th:text="${createdShortUrl}"></a></h3>
        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>